<div class="form">
    <div class="container">

        <div class="title">Edit Country</div>

        <div class="row">
            <label for="country_name">Country Name:</label>
            <input type="text" id="country_name">
        </div>
        <div class="row">
            <label for="country_desc">Description:</label>
            <textarea id="country_desc" rows="6"></textarea>
        </div>
        <div class="row">
            <label for="country_code">Country Code:</label>
            <input type="text" id="country_code">
        </div>
        <div class="row">
            <label for="country_population">Population:</label>
            <input type="text" id="country_population">
        </div>
        <div class="row">
            <label for="country_capital">Capital:</label>
            <input type="text" id="country_capital">
        </div>

        <div class="buttons">
            <button class="btn">Fetch</button>
            <button class="btn">Save</button>
        </div>
    </div>
</div>