<form class="form">
    <div class="container">

        <div class="title">Edit Country</div>

        <div class="row">
            <label for="name">Name:</label>
            <input type="text" id="name" class="textbox" required>
        </div>
        <div class="row">
            <label for="officialName">Official Name:</label>
            <input type="text" id="officialName" class="textbox" required>
        </div>
        <div class="row">
            <label for="region">Region:</label>
            <input type="text" id="region" class="textbox" required>
        </div>
        <div class="row">
            <label for="subregion">Sub Region:</label>
            <input type="text" id="subregion" class="textbox" required>
        </div>
        <div class="row">
            <label for="capital">Capital:</label>
            <input type="text" id="capital" class="textbox" required>
        </div>
        <div class="row">
            <label for="alpha2">Alpha2:</label>
            <input type="text" id="alpha2" class="textbox" required>
        </div>
        <div class="row">
            <label for="alpha3">Alpha3:</label>
            <input type="text" id="alpha3" class="textbox" required>
        </div>
        <div class="row">
            <label for="population">Population:</label>
            <input type="text" id="population" class="textbox" required>
        </div>
        <div class="row">
            <label for="languages">Languages:</label>
            <input type="text" id="languages" class="textbox" required>
        </div>

        <div class="buttons">
            <button class="btn" id="fetchButton">Fetch</button>
            <button type="submit" class="btn" id="saveButton" disabled>Save</button>
        </div>
    </div>
</form>

<script src="/admin/js/edit_country.js"></script>