:root {
    --color-primary: rgb(16, 64, 76);
    --color-dark: #13687e;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.form .container {
    display: flex;
    flex-direction: column;

    width: 80%;
    margin: 20px auto;
    max-width: 600px;
    min-height: 400px;
    padding: 20px;
    background: #efefef;

    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.form .title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.form .row {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 15px;
}

.form .textbox {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form .textbox:focus {
    outline: 1px solid var(--color-primary);
}

.form .textbox[disabled] {
    background: #fff;
    opacity: 0.7;
}

.form .buttons {
    display: flex;
    gap: 15px;
    margin-top: 25px;
}

.form .btn {
    padding: 15px;
    min-width: 100px;
    border: 1px solid #ccc;
    color: #fff;
    background: var(--color-dark);
    border-radius: 2px;
}

.form .btn[disabled] {
    opacity: 0.5;
}